_auth = YW5kcmVzZGFuaWVsLmxvcGV6QGdsb2JhbnQuY29tOkFLQ3A4bkdGYU1FNEZLbUNEMVdGYzJpdTNVWDROZXFlVXBYbk1aakJqRURVcmlYdUtYMk5yQ1pDQkRGeno1SDU1eGNwNTdWUmQ=
email = andresdaniel.lopez@globant.com
always-auth = true
registry = https://andorglobant.jfrog.io/artifactory/api/npm/poc-npm/
